﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="true" CodeFile="OtherSetting.aspx.cs" Inherits="OtherSetting" %>


<%--<%@ Register Src="~/Reports/Other_Settings/Agent_Tds.ascx" TagPrefix="Search" TagName="Agent_Tds" %>
<%@ Register Src="~/Reports/Other_Settings/AirlineFee.ascx" TagPrefix="Search1" TagName="AirlineFee" %>
<%@ Register Src="~/Reports/Other_Settings/HoldBookingCharges.ascx" TagPrefix="Search2" TagName="HoldBookingCharges" %>
<%@ Register Src="~/Reports/Other_Settings/airproviderswitch.ascx" TagPrefix="Search3" TagName="airproviderswitch" %>--%>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" >
      function activetab(str) {
          debugger;
          if (str == "tds") {
              location.href = 'http://backoffice.UmrawatiTrip.com/OtherSetting?r=' + str + '';
          }
          if (str == "airfee") {
              location.href = 'http://backoffice.UmrawatiTrip.com/OtherSetting?r=' + str + '';
          }
          if (str == "hldbcharge") {
              location.href = 'http://backoffice.UmrawatiTrip.com/OtherSetting?r=' + str + '';
          }
          if (str == "aps") {
              location.href = 'http://backoffice.UmrawatiTrip.com/OtherSetting?r=' + str + '';
          }
         

      };
</script>  
    
       <script type="text/javascript">
         var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>
            <div class="col-md-12 container-fluid" style="padding-right: 35px">
            <div class="page-wrapperss">

                <div class="panel panel-primary">

                    <div class="panel-body">
    <div class="container">

  <ul class="nav nav-tabs">
    <li id="tds"><a data-toggle="tab" onclick="activetab('tds')">TDS</a></li>
    <li id="airfee"><a data-toggle="tab" onclick="activetab('airfee')">Airline Fee</a></li>
    <li id="hldbcharge"><a data-toggle="tab" onclick="activetab('hldbcharge')">Hold Booking Charges</a></li>
       <li id="aps"><a data-toggle="tab" onclick="activetab('aps')">Air Provider Switch</a></li>
  </ul>
         <asp:PlaceHolder ID="phModule" runat="server"></asp:PlaceHolder>

<%--  <div class="tab-content" style="overflow:hidden;">
    <div id="home" class="tab-pane fade in active">
     
     <Search:Agent_Tds ID="Agent_Tds1" runat="server" />
    </div>
    <div id="menu1" class="tab-pane fade">
  
       <Search1:AirlineFee runat="server" ID="AirlineFee1" />
    </div>
    <div id="menu2" class="tab-pane fade">
    
    <Search2:HoldBookingCharges runat="server" ID="HoldBookingCharges1" />
    </div>

       <div id="menu3" class="tab-pane fade">
    
    <Search3:airproviderswitch runat="server" ID="airproviderswitch1" />
    </div>

  </div>--%>
</div>
                        </div>
                    </div>
                </div>

            </div>
        <script type="text/javascript">
            // wait for the DOM to be loaded 
            $(document).ready(function () {
                debugger;


                if (window.location.search.indexOf('airfee') > 0) {

                    var element = document.getElementById("airfee");
                    element.classList.add("active");
                }
                if (window.location.search.indexOf('hldbcharge') > 0) {

                    var element = document.getElementById("hldbcharge");
                    element.classList.add("active");
                }
                if (window.location.search.indexOf('aps') > 0) {

                    var element = document.getElementById("aps");
                    element.classList.add("active");
                }
                if ((window.location.search.indexOf('?') < 0) || (window.location.search.indexOf('tds') > 0)) {

                    var element = document.getElementById("tds");
                    element.classList.add("active");
                }
                //else {
                //    var element = document.getElementById("tds"); element.classList.add("active");

                //}

                // bind 'myForm' and provide a simple callback function 
                //$('#myForm').ajaxForm(function () {

                //});
            });
    </script>

</asp:Content>

