﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <br />
        ------
        <br />
    <asp:Label ID="LblIPAddress" runat="server" /><br />
    HTTP_X_FORWARDED_FOR:  <asp:Label ID="HTTP_X_FORWARDED_FOR" runat="server"/><br />
    REMOTE_ADDR: <asp:Label ID="REMOTE_ADDR" runat="server"/><br />
    UserLocalHost:  <asp:Label ID="UserLocalHost" runat="server"  /><br />

        -----
    </div>
    </form>
</body>
</html>
