﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="PriceDetails.aspx.vb" MasterPageFile="~/MasterPageSignIn.master"
    Inherits="AirInt_PriceDetails" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
  

    <script language="javascript" type="text/javascript">
        function Validate() {
            if (confirm("Are you sure!")) {

                return true;
            }
            else {
                return false;
            }
        }
    </script>

    <%--<div class="w66 mauto boxshadow1">
        <div class="f16 bgf1 bld padding1">
            Itinerary Details</div>
        <hr />
        <div class="padding1 w95 mauto">--%>
            <%--<div id="divFltDtls" runat="server" class="f13">
            </div>
            <div class="clear1">
            </div>
            <div id="divPaxdetails" runat="server" class="f13">
            </div>
            <div class="clear1">
            </div>
            <div class="clear1">
            </div>
            <div id="divFareDtls" runat="server" class="lft w48">
            </div>
            <div id="divFareDtlsR" runat="server" class="rgt w48">
            </div>
            <div class="clear1">
            </div>
            <div class="clear1">
            </div>
            <div class="w10 mauto">
                <asp:Button ID="Submit" runat="server" Text="Book" CssClass="button" OnClientClick="return Validate()" />
            </div>--%>
    <div class="large-12 medium-12 small-12">
        <div class="clear">
            </div>
        
   <div class="large-12 medium-12 small-12" id="divFltDtls" runat="server" ></div>
        
   <div class="large-12 medium-12 small-12" id="divPaxdetails" runat="server" >
            </div>
     
      <div class="large-12 medium-12 small-12" id="divFareDtls" runat="server" ></div>
      
     <div class="large-12 medium-12 small-12" id="divFareDtlsR" runat="server" >
            </div>
       
           <div class="large-2 medium-2 small-6 large-push-9 medium-push-9 small-push-6">
                <asp:Button ID="Submit" runat="server" Text="Book"  OnClientClick="return Validate()" />
            </div>
        
    </div>
        <%--<div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </div>--%>
    <script type="text/javascript">
        function funcnetfare(arg, id) {
            document.getElementById(id).style.display = arg

        }
    </script>
</asp:Content>
