﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server"> </asp:ContentPlaceHolder> 
</head>
<body>
    <form id="form1" runat="server">

        <table style="font-family: Arial">
            <tr>
                <td colspan="2" style="width: 1400px; height: 80px; background-color: aqua; text-align: center">
                    <h1>Website Header</h1>
                </td>
            </tr>
            
          

            <tr>
                <td style="height:770px; background-color: #808080; width: 150px;margin-bottom:50px; vertical-align:super; text-align:center;">

                    <a href="Role.aspx">Role</a> <br />
                    <br />
                    <a href="PageDetails.aspx">PageDetails</a><br />
                    <br />
                    <a href="Page_User_Authorized.aspx">Page Authorized</a>
                    <br /><br />
                   <%-- <a href="UserRole.aspx">UserTypeandRole</a><br />
                    <br />--%>
                     <a href="NewExecutive.aspx">New Executive</a>
                    <br />
                </td>


                <td style="height: 500px; width: 650px; background-color: #ffffff;align-items:center">

                    <div>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>

                </td>
            </tr>

            <tr>
                <td colspan="2" style="background-color: #808080; text-align: center"><b>Website Footer</b> </td>
            </tr>


        </table>

    </form>
</body>

</html>

