﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AccountsControl.ascx.vb" Inherits="UserControl_AccountsControl" %>
<% Dim obj As New FltSearch1()%>
<% Dim um As String%>
<% Dim rawurlA As String%>
<div>    
    
        <div class="fltnewmenu1">
            <%--<% um = ""%>
            <% um = obj.GetMUForPage("DetailsPort/Accounts/DomSaleRegister.aspx")%>
            <% rawurlA = ""%>
            <% rawurlA = Request.RawUrl%>
            <%rawurlA = "/" & rawurlA.Replace(rawurlA, um)%>
            <a href="<%= rawurlA %>">Dom. Sale Register</a>--%>
            <a href="<%= ResolveUrl("~/DetailsPort/Accounts/DomSaleRegister.aspx")%>">Dom. Sale Register</a>
        </div>
   
        <div class="fltnewmenu1">
            <%--<% um = ""%>
            <% um = obj.GetMUForPage("DetailsPort/Accounts/IntlSaleRegister.aspx")%>
            <% rawurlA = ""%>
            <% rawurlA = Request.RawUrl%>
            <%rawurlA = "/" & rawurlA.Replace(rawurlA, um)%>
            <a href="<%= rawurlA %>">Intl. Sale Register</a>--%>
            <a href="<%= ResolveUrl("~/DetailsPort/Accounts/IntlSaleRegister.aspx")%>">Intl. Sale Register</a>
        </div>

    
    
</div>
